[submodule "head-up-display/firmware/libraries/isotp"]
	path = head-up-display/firmware/libraries/isotp
	url = https://github.com/lishen2/isotp-c.git
[submodule "head-up-display/firmware/libraries/ESPAsyncWebServer"]
	path = head-up-display/firmware/libraries/ESPAsyncWebServer
	url = https://github.com/me-no-dev/ESPAsyncWebServer.git
[submodule "head-up-display/firmware/libraries/AsyncTCP"]
	path = head-up-display/firmware/libraries/AsyncTCP
	url = https://github.com/me-no-dev/AsyncTCP.git
[submodule "head-up-display/firmware/libraries/FastLED"]
	path = head-up-display/firmware/libraries/FastLED
	url = https://github.com/FastLED/FastLED.git
